@using ForumApiWebLibrary.Client.Components
@using Telerik.Blazor.Components.Editor
@inject IForumApiClient ForumApiClient
@inject IForumAuthenticationService ForumAuthService
@inject ILogger<PostsModel> Logger
@inject NavigationManager NavigationManager

@attribute [Authorize]

<TelerikStackLayout Orientation="StackLayoutOrientation.Vertical">

    <h3>Forum Group : @PostsModel.ForumGroup</h3>
    <hr class="solid">

    <h3>Forum Title : @PostsModel.ForumTitle</h3>
    <h3>Forum Body : <TelerikTextArea Value="@PostsModel.ForumTitleBody"
                        Rounded="large"
                        Enabled=false
                        Width="800px" /></h3>
    <hr class="solid">

    <table>
        <tr>
            <td># of Topics : <strong>@PostsModel.ForumTopicsCount.ToString()</strong></td>
            <td>First Date : <strong>@PostsModel.ForumTopicsFirstDatetime.ToString()</strong></td>
            <td>Last Date : <strong>@PostsModel.ForumTopicsLastDatetime.ToString()</strong></td>
        </tr>
        <tr>
            <th colspan="3"><hr class="solid"></th>
        </tr>
        <tr>
            <td># of Posts : <strong>@PostsModel.ForumPostsCount.ToString()</strong></td>
            <td>First Date : <strong>@PostsModel.ForumPostsFirstDatetime.ToString()</strong></td>
            <td>Last Date : <strong>@PostsModel.ForumPostsLastDatetime.ToString()</strong></td>
        </tr>
    </table>
    <hr class="solid">


    <TelerikStackLayout 
        HorizontalAlign="@StackLayoutHorizontalAlign.Left"
        Orientation="@StackLayoutOrientation.Horizontal" 
        Spacing="10px"
        Width="100%" 
        Height="100%">
        <div>
            <img src="@( $"larry200.jpg" )" /> <br />
            <p>
                @PostsModel.UserName <br />
                Since : &nbsp; <strong>@PostsModel.UserCreatedDatetime.ToShortDateString()</strong>
            </p>
        </div>
        <div>
            <p>
                <h3>Topic Title : @PostsModel.TopicTitle</h3>
                <h3>Topic Body : <TelerikTextArea Value="@PostsModel.TopicBody"
                                                  Rounded="large"
                                                  Enabled=false
                                                  Width="800px" />
                </h3>
                <hr class="solid">

                <table style="width:100%">
                <tr>
                        <td style="width:20%">Votes : <strong>@PostsModel.TopicUpCount.ToString()/(@PostsModel.TopicDownCount.ToString())</strong></td>
                        <td style="width:40%">Created : <strong>@PostsModel.TopicCreatedDatetime.ToString()</strong></td>
                    <td style="width:40%">Modified : <strong>@PostsModel.TopicEditedDatetime.ToString()</strong></td>
                </tr>
                <tr>
                        <td>Posts : <strong>@PostsModel.TopicPostsCount.ToString()</strong></td>
                        <td>First : <strong>@PostsModel.TopicPostsFirstDatetime.ToString()</strong></td>
                        <td>Last : <strong>@PostsModel.TopicPostsLastDatetime.ToString()</strong></td>
                </tr>
                </table>
            </p>

        </div>
    </TelerikStackLayout>
    <hr class="solid">

    <TelerikTreeList @ref="PostModelTreeListRef"
                     Data="PostsModel.RecentPostsList"
                     EditMode="@TreeListEditMode.Inline"
                     OnUpdate="UpdateItem"
                     OnDelete="DeleteItem"
                     OnCreate="CreateItem"
                     OnCancel="OnCancelHandler"
                     OnModelInit="OnModelInitHandler"
                     IdField="PId"
                     ParentIdField="ReplyPId"
                     Pageable="true"
                     Height="800px">
        <TreeListToolBar>
            <TreeListCommandButton Command="Add" Icon="add">Post</TreeListCommandButton>
        </TreeListToolBar>
        <TreeListColumns>
            <TreeListColumn 
                Title="Member"
                Field="UserName"
                Editable="false"
                Expandable="true"
                Resizable="true"
                Width="200px" >
                <Template>@{
                    PostModel post = context as PostModel;
                    <img src="@( $"larry200.jpg" )" /> <br />
                    <p>
                        @post.UserName <br />
                        Since : &nbsp; <strong>@post.UserCreatedDatetime.ToShortDateString()</strong>
                    </p>
                }
                </Template>
            </TreeListColumn>
            <TreeListColumn
                Title="Title"
                Field="PostTitle"
                Editable="true"
                Expandable="false"
                Width="120px" />
            <TreeListColumn
                Title="Body"
                Field="PostBody"
                Editable="true"
                Expandable="false"
                Resizable="true"
                Width="500px">
                <Template>@{
                    PostModel post = context as PostModel;
                    @post.PostBody <br />
                    <hr class="solid">
                    <table style="width:100%">
                    <tr>
                        <td style="width:20%">Votes : <strong>@post.PostUpCount.ToString()/(@post.PostDownCount.ToString())</strong></td>
                        <td style="width:40%">Created : <strong>@post.CreatedDatetime.ToString()</strong></td>
                        <td style="width:40%">Modified : <strong>@post.EditedDatetime.ToString()</strong></td>
                    </tr>
                    <tr>
                        <td>PvId : <strong>@post.PvId.ToString()</strong></td>
                        <td>Vote : <strong>@post.Vote.ToString()</strong></td>
                        <td>Inapprop : <strong>@post.IsInappropriate.ToString()</strong></td>
                    </tr>
                    <tr>
                        <td>Files : <strong>@post.PostFiles.FilesList.Count.ToString()</strong></td>
                    </tr>
                    </table>    
                    <br />
                 }
                </Template>

            </TreeListColumn>
            <TreeListColumn 
                Title="Created"
                Field="CreatedDatetime"
                Editable="false"
                Expandable="false"
                Width="150px" />
            <TreeListCommandColumn 
                Width="100px">
                <TreeListCommandButton Size="Small" Command="Add" Icon="plus">Reply</TreeListCommandButton>
                <TreeListCommandButton Size="Small" Command="Edit" Icon="edit">Edit</TreeListCommandButton>
                <TreeListCommandButton Size="Small" Command="VoteUp" OnClick="OnVoteUp" Icon="check-circle">+1 Vote</TreeListCommandButton>
                <TreeListCommandButton Size="Small" Command="VoteDown" OnClick="OnVoteDown" Icon="check-outline">-1 Vote</TreeListCommandButton>
                <TreeListCommandButton Size="Small" Command="VoteDelete" OnClick="OnVoteDelete" Icon="x-outline">Delete Vote</TreeListCommandButton>
                <TreeListCommandButton Size="Small" Command="FlagAsInappropriate" OnClick="OnFlagAsInappropriate" Icon="x-circle">Flag Topic</TreeListCommandButton>
                <TreeListCommandButton Size="Small" Command="Save" Icon="save" ShowInEdit="true">Update</TreeListCommandButton>
                <TreeListCommandButton Size="Small" Command="Cancel" Icon="cancel" ShowInEdit="true">Cancel</TreeListCommandButton>
                <TelerikFileSelect AllowedExtensions="AllowedExtensions"
                                   MaxFileSize="MaxFileSize"
                                   OnSelect="OnSelectHandler" />

            </TreeListCommandColumn>
        </TreeListColumns>
    </TelerikTreeList>
    <br />
    <br />
    <TelerikEditor @ref="Editor"
                   Tools="@ToolCollection"
                   Height="650px"
                   @bind-Value="@PostsModel.TopicBody">
        <EditorCustomTools>
            <EditorCustomTool Name="ColorTools">
                <TelerikButtonGroup>
                    <ButtonGroupButton OnClick="@ExecuteBackColor"
                                       IconClass="k-i-background k-icon back-color"
                                       Title="Back Color"></ButtonGroupButton>
                    <ButtonGroupButton OnClick="@ExecuteForeColor"
                                       IconClass="k-i-foreground-color k-icon fore-color"
                                       Title="Fore Color"></ButtonGroupButton>
                </TelerikButtonGroup>
            </EditorCustomTool>
            <EditorCustomTool Name="InsertVideo">
                <TelerikButton OnClick="@ExecuteInsertVideo"
                               Icon="video-external"
                               Title="Insert Video"></TelerikButton>
            </EditorCustomTool>
            <EditorCustomTool Name="CleanFormattingTool">
                <TelerikButton OnClick="@ExecuteCleanFormatting"
                               Icon="clear-css"
                               Title="Clean Formatting"></TelerikButton>
            </EditorCustomTool>
            <EditorCustomTool Name="InsertHtmlTools">
                <TelerikButtonGroup>
                    <ButtonGroupButton OnClick="@ExecuteInsertHr"
                                       Icon="insert-down"
                                       Title="Insert hr"></ButtonGroupButton>
                    <ButtonGroupButton OnClick="@ExecuteInsertLogo"
                                       Class="icon-size"
                                       ImageUrl="https://demos.telerik.com/blazor-ui/images/component-icons/svg/editor.svg"
                                       Title="Insert editor logo"></ButtonGroupButton>
                </TelerikButtonGroup>
            </EditorCustomTool>
        </EditorCustomTools>
    </TelerikEditor>
</TelerikStackLayout>


<style>
    hr.solid {
        border-top: 3px solid #bbb;
    }
</style>
