@using ForumApiWebLibrary.Client.Components
@using Telerik.Blazor.Components.Editor
@inject IForumApiClient ForumApiClient
@inject IForumAuthenticationService ForumAuthService
@inject ILogger<PostsModel> Logger
@inject NavigationManager NavigationManager

@attribute [Authorize]

<TelerikStackLayout Orientation="StackLayoutOrientation.Vertical">

    <h4>Forum Group: &nbsp; @PostsModel.ForumGroup</h4>
    <h3>Forum Title: &nbsp; @PostsModel.ForumTitle</h3>
    <h3>Forum Body: &nbsp; @PostsModel.ForumTitleBody</h3>


    <table>
        <tr>
            <td><p>Number of Topics: @PostsModel.ForumTopicsCount</p></td>
            <td><p>First Topic Date: @PostsModel.ForumTopicsFirstDatetime.ToString()</p></td>
            <td><p>Last Topic Date: @PostsModel.ForumTopicsLastDatetime.ToString()</p></td>
        </tr>
        <tr>
            <td><p>Number of Posts: @PostsModel.ForumPostsCount</p></td>
            <td><p>First Post Date: @PostsModel.ForumPostsFirstDatetime.ToString()</p></td>
            <td><p>Last Post Date: @PostsModel.ForumPostsLastDatetime.ToString()</p></td>
        </tr>
    </table>

    <h3>Topic Title: &nbsp; @PostsModel.TopicTitle</h3>
    <h3>Topic Body: &nbsp; @PostsModel.TopicBody</h3>

    <TelerikEditor @ref="Editor"
                   Tools="@ToolCollection"
                   Height="650px"
                   @bind-Value="@PostsModel.TopicBody">
        <EditorCustomTools>
            <EditorCustomTool Name="ColorTools">
                <TelerikButtonGroup>
                    <ButtonGroupButton OnClick="@ExecuteBackColor"
                                       IconClass="k-i-background k-icon back-color"
                                       Title="Back Color"></ButtonGroupButton>
                    <ButtonGroupButton OnClick="@ExecuteForeColor"
                                       IconClass="k-i-foreground-color k-icon fore-color"
                                       Title="Fore Color"></ButtonGroupButton>
                </TelerikButtonGroup>
            </EditorCustomTool>
            <EditorCustomTool Name="InsertVideo">
                <TelerikButton OnClick="@ExecuteInsertVideo"
                               Icon="video-external"
                               Title="Insert Video"></TelerikButton>
            </EditorCustomTool>
            <EditorCustomTool Name="CleanFormattingTool">
                <TelerikButton OnClick="@ExecuteCleanFormatting"
                               Icon="clear-css"
                               Title="Clean Formatting"></TelerikButton>
            </EditorCustomTool>
            <EditorCustomTool Name="InsertHtmlTools">
                <TelerikButtonGroup>
                    <ButtonGroupButton OnClick="@ExecuteInsertHr"
                                       Icon="insert-down"
                                       Title="Insert hr"></ButtonGroupButton>
                    <ButtonGroupButton OnClick="@ExecuteInsertLogo"
                                       Class="icon-size"
                                       ImageUrl="https://demos.telerik.com/blazor-ui/images/component-icons/svg/editor.svg"
                                       Title="Insert editor logo"></ButtonGroupButton>
                </TelerikButtonGroup>
            </EditorCustomTool>
        </EditorCustomTools>
    </TelerikEditor>

    <br/>
    <h4>Created: @PostsModel.TopicCreatedDatetime.ToString()</h4>
    <p>Number of Posts: @PostsModel.TopicPostsCount</p>
    <p>Number of Up Votes: @PostsModel.TopicUpCount</p>
    <p>Number of Down Votes: @PostsModel.TopicDownCount</p>
    <br />

    <TelerikTreeList @ref="PostModelTreeListRef"
                     Data="PostsModel.RecentPostsList"
                     EditMode="@TreeListEditMode.Inline"
                     OnUpdate="UpdateItem"
                     OnDelete="DeleteItem"
                     OnCreate="CreateItem"
                     OnCancel="OnCancelHandler"
                     OnModelInit="OnModelInitHandler"
                     IdField="PId"
                     ParentIdField="ReplyPId"
                     Pageable="true"
                     Height="800px">
        <TreeListToolBar>
            <TreeListCommandButton Command="Add" Icon="add">Post</TreeListCommandButton>
        </TreeListToolBar>
        <TreeListColumns>
            <TreeListColumn 
                Field="UserName"
                Editable="false"
                Expandable="true"
                Resizable="true"
                Width="250px" >
                <Template>@{
                    PostModel post = context as PostModel;
                    <img src="@( $"larry200.jpg" )" /> <br />
                    //<text>@post.ImageGuid</text> <br />
                    //<p> PvId : &nbsp; @post.PvId </p> <br />
                    //<p> Vote : &nbsp; @post.Vote </p>
                    <p>
                        @post.UserName <br />
                        Since : &nbsp; @post.UserCreatedDatetime.ToShortDateString()
                    </p>
                }
                </Template>
            </TreeListColumn>
            <TreeListColumn
                Field="PostTitle"
                Editable="true"
                Expandable="false"
                Width="150px" />
            <TreeListColumn
                Field="PostBody"
                Editable="true"
                Expandable="false"
                Resizable="true"
                Width="320px">
                <Template>@{
                    PostModel post = context as PostModel;
                    @post.PostBody <br />
                        <br />
                    <p> TvId : &nbsp; @post.PvId &nbsp;&nbsp; Vote : &nbsp; @post.Vote &nbsp;&nbsp; Inapprop : &nbsp; @post.IsInappropriate</p>
                 }
                </Template>

            </TreeListColumn>
            <TreeListColumn 
                Field="CreatedDatetime"
                Editable="false"
                Expandable="false"
                Width="150px" />
            <TreeListCommandColumn 
                Width="220px">
                <TreeListCommandButton Command="Add" Icon="plus">Reply</TreeListCommandButton>
                <TreeListCommandButton Command="Edit" Icon="edit">Edit</TreeListCommandButton>
                <TreeListCommandButton Command="VoteUp" OnClick="OnVoteUp" Icon="check-circle">+1 Vote</TreeListCommandButton>
                <TreeListCommandButton Command="VoteDown" OnClick="OnVoteDown" Icon="check-outline">-1 Vote</TreeListCommandButton>
                <TreeListCommandButton Command="VoteDelete" OnClick="OnVoteDelete" Icon="x-outline">Delete Vote</TreeListCommandButton>
                <TreeListCommandButton Command="FlagAsInappropriate" OnClick="OnFlagAsInappropriate" Icon="x-circle">Flag Topic</TreeListCommandButton>
                <TreeListCommandButton Command="Save" Icon="save" ShowInEdit="true">Update</TreeListCommandButton>
                <TreeListCommandButton Command="Cancel" Icon="cancel" ShowInEdit="true">Cancel</TreeListCommandButton>
            </TreeListCommandColumn>
        </TreeListColumns>
    </TelerikTreeList>
</TelerikStackLayout>

