@inject IForumApiClient ForumApiClient
@inject IForumAuthenticationService ForumAuthService
@inject ILogger<TopicsModel> Logger
@inject NavigationManager NavigationManager

@attribute [Authorize]


<TelerikStackLayout Orientation="StackLayoutOrientation.Vertical">

<h3>Forum Group: &nbsp; @TopicsModel.ForumGroup</h3>
    <hr class="solid">

<h2>Forum Title: &nbsp; @TopicsModel.ForumTitle</h2>
<h2>Forum Body: &nbsp; @TopicsModel.ForumTitleBody</h2>
    <hr class="solid">

    <table>
        <tr>
        <td><p># of Topics: @TopicsModel.TopicsCount</p></td>
        <td><p>First Date: @TopicsModel.TopicsFirstDatetime.ToString()</p></td>
        <td><p>Last Date: @TopicsModel.TopicsLastDatetime.ToString()</p></td>
        </tr>
        <tr>
        <td><p># of Posts: @TopicsModel.PostsCount</p></td>
        <td><p>First Date: @TopicsModel.PostsFirstDatetime.ToString()</p></td>
        <td><p>Last Date: @TopicsModel.PostsLastDatetime.ToString()</p></td>
        </tr>
    </table>

<TelerikListView @ref="TopicsModelListViewRef"
                 TItem="TopicModel"
                 OnRead="OnReadHandler"
                 OnModelInit="OnModelInitHandler"
                 OnCreate="CreateHandler"
                 OnDelete="DeleteHandler"
                 OnUpdate="UpdateHandler"
                 OnEdit="EditHandler"
                 PageChanged="PageChangedHandler"
                 Pageable="true"
                 PageSize="PageSize"
                 Class="topics-list-view">
    <EditTemplate>
        <div style="border: 1px solid green; margin: 10px; padding: 10px; display: inline-block;">
            Title : &nbsp; <TelerikTextBox @bind-Value="@context.Title" /><br />
            Body  : &nbsp; <TelerikTextBox @bind-Value="@context.TopicBody" /><br />
            <ListViewCommandButton Command="Save" Icon="save">Save</ListViewCommandButton>
            <ListViewCommandButton Command="Cancel" Icon="cancel">Cancel</ListViewCommandButton>
        </div>
    </EditTemplate>
    <Template Context="topic_context">
        <div class="topics-listview-item" style="margin: 10px; padding: 10px;">
            <TelerikStackLayout 
                HorizontalAlign="@StackLayoutHorizontalAlign.Left"
                Orientation="@StackLayoutOrientation.Horizontal" 
                Spacing="10px"
                Width="100%" 
                Height="100%">
                <div>
                    <img src="@( $"larry200.jpg" )" /> <br />
                    <p>
                        @topic_context.UserName <br />
                        Since : &nbsp; <strong>@topic_context.UserCreatedDatetime.ToShortDateString()</strong>
                    </p>
                </div>
                <div>
                    <p><a href="posts/@topic_context.TId">@topic_context.Title</a> -- @topic_context.TopicBody</p> <br/>
                    <p> TvId : &nbsp; @topic_context.TvId &nbsp;&nbsp; Vote : &nbsp; @topic_context.Vote &nbsp;&nbsp; Inapprop : &nbsp; @topic_context.IsInappropriate</p>
                </div>
            </TelerikStackLayout>

            <ListViewCommandButton OnClick="OnVoteUp" Icon="check-circle">+1 Vote</ListViewCommandButton>
            <ListViewCommandButton OnClick="OnVoteDown" Icon="check-outline">-1 Vote</ListViewCommandButton>
            <ListViewCommandButton OnClick="OnVoteDelete" Icon="x-outline">Delete Vote</ListViewCommandButton>
            <ListViewCommandButton OnClick="OnFlag" Icon="x-circle">Flag Topic</ListViewCommandButton>
            <ListViewCommandButton Command="Edit" Icon="edit">Edit</ListViewCommandButton>
            <ListViewCommandButton Enabled="false" Command="Reply" OnClick="ReplyHandler" Icon="plus">Reply</ListViewCommandButton>
        </div>
    </Template>
    <HeaderTemplate>
@*        <h4>@TopicsModel.ForumTitle</h4> <br />*@
        <ListViewCommandButton Command="Add" Icon="plus">Add New Topic</ListViewCommandButton> 
    </HeaderTemplate>
</TelerikListView>

</TelerikStackLayout>
