@inject IForumApiClient ForumApiClient
@inject IForumAuthenticationService ForumAuthService
@inject ILogger<TopicsModel> Logger
@inject NavigationManager NavigationManager

@attribute [Authorize]

<TelerikListView TItem="TopicModel"
                 OnRead="OnReadHandler"
                 OnModelInit="OnModelInitHandler"
                 OnCreate="CreateHandler"
                 OnDelete="DeleteHandler"
                 OnUpdate="UpdateHandler"
                 OnEdit="EditHandler"
                 PageChanged="PageChangedHandler"
                 Pageable="true"
                 PageSize="PageSize"
                 Class="topics-list-view">
    <EditTemplate>
        <div style="border: 1px solid green; margin: 10px; padding: 10px; display: inline-block;">
            Title : &nbsp; <TelerikTextBox @bind-Value="@context.Title" /><br />
            Body  : &nbsp; <TelerikTextBox @bind-Value="@context.TopicBody" /><br />
            <ListViewCommandButton Command="Save" Icon="save">Save</ListViewCommandButton>
            <ListViewCommandButton Command="Cancel" Icon="cancel">Cancel</ListViewCommandButton>
        </div>
    </EditTemplate>
    <Template Context="topic_context">
        <div class="topics-listview-item" style="margin: 10px; padding: 10px;">
            <p><a href="posts/@topic_context.TId">@topic_context.Title</a> -- @topic_context.TopicBody</p>
            <p> TvId : &nbsp; @topic_context.TvId.ToString() </p> &nbsp;&nbsp; <p> vote : &nbsp; @topic_context.Vote.ToString() </p>
            @*<p> Body  : &nbsp; @topic_context.TopicBody </p>*@
            @*<p><a href="posts/@topic_context.TId">@topic_context.Title</a> -- @topic_context.TopicBody</p>*@

            <ListViewCommandButton OnClick="OnVoteUp" Icon="check-circle">+1 Vote</ListViewCommandButton>
            <ListViewCommandButton OnClick="OnVoteDown" Icon="check-outline">-1 Vote</ListViewCommandButton>
            <ListViewCommandButton OnClick="OnVoteDelete" Icon="x-outline">Delete Vote</ListViewCommandButton>
            <ListViewCommandButton OnClick="OnFlag" Icon="x-circle">Flag Topic</ListViewCommandButton>
            <ListViewCommandButton Command="Edit" Icon="edit">Edit</ListViewCommandButton>
            <ListViewCommandButton Enabled="false" Command="Reply" OnClick="ReplyHandler" Icon="plus">Reply</ListViewCommandButton>
        </div>
    </Template>
    <HeaderTemplate>
        <h4>@TopicsModel.ForumTitle</h4> <br />
        <ListViewCommandButton Command="Add" Icon="plus">Add New Topic</ListViewCommandButton> 
    </HeaderTemplate>
</TelerikListView>


